@{
    ViewData["Title"] = "Home Page";
    string date = "22/12/23";
}

<div class="text-center">
    <h1 class="display-4">Welcome zaineb </h1>
    <p> on est le : @date  </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
